Bloc3/Activitat2Bloc3/biblioteca.dtd

<!ELEMENT biblioteca (llibre*)>
<!ELEMENT llibre (titol, idioma, genere, autor, web?, portada?)>
<!ATTLIST llibre
    codi CDATA ID #REQUIRED
    any "2000" #REQUIRED
>
<!ELEMENT titol (#PCDATA)>
<!ELEMENT idioma (#PCDATA)>
<!ELEMENT genere (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT web (#PCDATA)>
<!ELEMENT portada (#PCDATA)>